<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h2>About xyz book spot</h2>
    <div class="about content">
      <h3>About</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius delectus
        labore optio cum! Velit voluptatibus molestias quaerat deserunt
        reiciendis voluptate tempora.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius delectus
        labore optio cum! Velit voluptatibus molestias quaerat deserunt
        reiciendis voluptate tempora.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius delectus
        labore optio cum! Velit voluptatibus molestias quaerat deserunt
        reiciendis voluptate tempora.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
